#search input.form-control {
    width: 500px;
}

div.ratings {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*border: 1px solid white;*/
    margin: 40px;
}

div.ratings div.overallRating {
    font-size: 160px;
}

div.ratings div.floodRating, div.ratings div.crimeRating, div.ratings div.crashRating {
    display: inline-block;
    font-size: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

div.ratings div.floodRating {
    color: blue;
}
div.ratings div.crimeRating {
    color: red;
}
div.ratings div.crashRating {
    color: green;
}

.floodSummary span.highlight {
    font-weight: bold;
    color: #3498db;
}
.crimeSummary span.highlight {
    font-weight: bold;
    color: #e74c3c;
}
.crashSummary span.highlight {
    font-weight: bold;
    color: #8e44ad;
}

div.ratingSection {
    padding-top: 20px;
    padding-bottom: 0px;
}
div.ratingSection .calculationIcon {
    vertical-align: top;
    margin-top: 10px;
}
div.ratingSection .calculationIcon, div.ratingSection .knobContainer {
    display: inline-block;
}
div.ratingSection.titles {
    padding-left: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
}
div.ratingSection.titles div.title {
    width: 120px;
    text-align: center;
    display: inline-block;
}

.affix-top {
    text-align: left;
}
.affix-bottom {
    text-align: left;
}
.affix {
    position: fixed !important;
    top: 100px;
}

div.preparednessTitle {
    padding-top: 60px;
}
div.questionContainer#question1 {
    padding-top: 40px;
}
div.questionContainer {
    padding-top: 90px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    opacity: 0.3;
}
div.questionTitle {
    margin-bottom: 15px;
}
div.questionContainer div.button {
    text-align: right;
}

#finalResults #tips, #finalResults #moreInfo {
    text-align: left;
}

div.ratings div.lifesaver {
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 20px;
}
div.ratings div.lifesaver img.shape {
    width: 400px;
    height: 400px;
    z-index: 1;
    position: relative;
    top: -400px;
}
div.ratings div.lifesaver div.stripe {
    width: 400px;
    z-index: 0;
}
div.ratings div.lifesaver div.empty {
    height: 0%;
}
div.ratings div.lifesaver div.crash {
    height: 0%;
    background-color: green;
}
div.ratings div.lifesaver div.crime {
    height: 0%;
    background-color: red;
}
div.ratings div.lifesaver div.flood {
    height: 0%;
    background-color: blue;
}
.measures {
  color: #88d8b0;
}

footer {
}

div.search-section {
    padding-top: 100px;
    padding-bottom: 200px;
}

.calculationStep {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.calculationIcon {
	width: 100px;
	height: 100px;
	background: #F4733D;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.calculationIcon.heading {
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
    float: left;
}
.calculationStep .title {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
.calculationStep .calculationMath {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 80px;
    padding-bottom: 30px;
}

div.finalRatings .knobContainer {
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}
div.finalRatings div.title {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}